html {
  font-size: 100%;
}

body {
  background: #5333FF;
  overflow: auto;
  font-family: Arial, Helvetica, sans-serif;
  /*align-items: center;
  justify-content: center;*/
}

.col1 {
  float: left;
  width: 5%;
  position: relative;
  height: 800px;
}
.intro {
  font-size: 3em;
  color: #FFF650;
  width: 95%;
  margin: .5em;
  text-align: center;
}

p {
  font-size: 2em;
  position: absolute;
  margin: 2.5em 1em 1em 1em;
  color: #2d13b2;
  text-align: center;
  /*align-content: center;
  align-items: center;
  justify-content: center;*/
}

/*#container {
  -webkit-perspective: 500px;
  perspective:500px;*/
  /*display: -webkit-flex;
  display: flex;*/
  /*align-items: center;
  justify-content: center;*/
/*}*/

#squares {
  width: 900px;
  height:200px;
  /*position: absolute;*/
  /*left: 25%;*/
  /*top: 1em;*/
  /*background-color: white;*/
  -webkit-transform: rotateZ(55deg);
  transform: rotateX(55deg);
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  /*display: -webkit-flex;
  display: flex;*/
}

a.square {
  width: 200px;
  height: 200px;
  float: left;
  margin: 0 10px 10px 0;
  cursor: pointer;
  /*align-items: center;
  justify-content: center;*/
}

p < a.square {
  text-align: center;

}
a.square:before {
  position: absolute;
  content: '';
  width: 200px;
  height: 200px;
  background: #FFF650;
  -webkit-transition: all 1s;
  transition: all 1s;
  pointer-events: none;
  /*align-items: center;
  justify-content: center;*/
}

a.square:hover:before {
  /*align-items: center;
  justify-content: center;*/
  background: #4aCC2a;
  -webkit-transform: translate3d(0, 0, 40px);
  transform: translate3d(0, 0, 20px);
  box-shadow: 40px 40px 20px rgba(0, 0, 0, .8);
}
